include "./cfg/animation.kdl"
include "./cfg/autostart.kdl"
include "./cfg/keybinds.kdl"
include "./cfg/input.kdl"
include "./cfg/layout.kdl"
include "./cfg/rules.kdl"
include "./cfg/misc.kdl"
include "./noctalia.kdl"

cursor {
    xcursor-theme "Bibata-Modern-Ice"
    xcursor-size 24
}


// Screen layout (empty by default, see monitors.kdl)
include "monitors.kdl"
